.App {
  margin: 20px auto;
  max-width: 700px;
  background-image: url("./img/90s.jpg");
  background-size: cover;
}

body {
  font-family: "VT323", monospace;
}

h1 {
  color: #7b6fef;
  font-size: 60px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 5px;
}

ul {
  margin: 0 0 20px;
  padding: 0;
}

li {
  color: #c944be;
  font-size: 22px;
  font-weight: 100;
  line-height: 1;
  list-style: none;
}


