.Weather {
  background-size: cover;
  padding: 30px;
}

.Weather .search-area {
  display: block;
  text-align: center;
  margin-top: 30px;
}

.Weather .current-location-button {
  border: 3px solid #7b6fef;
}

.Weather .fa-map-marker-alt {
  color: #7b6fef;
}

.Weather .type-city-input {
  border: 3px solid #7b6fef;
  width: 50%;
}

.Weather .type-city-button {
  border: 3px solid #7b6fef;
  margin-left: 5px;
  margin-right: 5px;
}

.Weather .fa-search {
  color: #7b6fef;
}

.Weather .city-info {
  text-align: center;
}

.Weather .City {
  color: #fff;
  margin-bottom: 10px;
}

.Weather .temperature {
  color: #fff;
  font-size: 80px;
}

.Weather .units {
  color: #fff;
  position: relative;
  top: -30px;
  font-size: 20px;
}

.Weather .more-info {
  color: #7b6fef;
  margin-top: 32px;
  text-align: center;
}

.Weather .fa-linkedin {
  color: #0966c2;
}

.Weather .Date {
  font-size: 24px;
  color: #7b6fef;
}

.Weather .WeatherDescription {
  color: #c944be;
  text-transform: capitalize;
}

.Weather canvas {
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 20px;
  filter: drop-shadow(2px 2px 2px #7b6fef);
  image-rendering: pixelated;
}
