.Weather {
  background-size: cover;
  border: 5px solid #7b6fef;
  padding: 30px;
}

.Weather .search-area {
  display: block;
  text-align: center;
  margin-top: 30px;
}

.Weather .current-location-button {
  border: 3px solid #7b6fef;
}

.Weather .fa-map-marker-alt {
  color: #7b6fef;
}

.Weather .type-city-input {
  border: 3px solid #7b6fef;
  width: 50%;
}

.Weather .type-city-button {
  border: 3px solid #7b6fef;
  margin-left: 5px;
  margin-right: 5px;
}

.Weather .fa-search {
  color: #7b6fef;
}

.Weather .city-info {
  text-align: center;
}

.Weather .temperature {
  color: #7b6fef;
  font-size: 80px;
}

.Weather .units {
  color: #7b6fef;
  position: relative;
  top: -30px;
  font-size: 20px;
}

.Weather .more-info {
  color: #7b6fef;
  margin-top: 32px;
  text-align: center;
}

.Weather .weather-forecast h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #7b6fef;
}

.Weather .weather-forecast img {
  height: 40px;
  width: 40px;
  margin: 5px;
  padding: 0;
}

.Weather .weather-forecast-temperature {
  color: #7b6fef;
  font-size: 14px;
}

.Weather .fa-linkedin {
  color: #0966c2;
}

.Weather .Date {
  font-size: 24px;
  color: #7b6fef;
}

.Weather .WeatherDescription {
  color: #c944be;
  text-transform: capitalize;
  margin-bottom: 0;
}

.Weather canvas {
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 20px;
  image-rendering: pixelated;
}

.Weather .weather-forecast {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
